@model IEnumerable<Teamify.Models.Sport.SportModel>

<li class="divider"></li>
<li class="nav-item">
    <input class="form-control" type="text" placeholder="Search sport">
</li>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="#">@item.Name</a>
    </li>
}