@model IEnumerable<Teamify.Models.Sport.SportModel>

<li class="divider"></li>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("SportDetails", "Sport", new {id = item.SportId})">@item.Name</a>
    </li>
}
