<md-dialog aria-label="Create Activity" flex="30">
    <form ng-cloak name="createActivity">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Activity</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Cancel button" ng-click="vm.cancel()">X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <md-autocomplete flex md-input-name="Sport" required md-selected-item="vm.activity.SportId" md-search-text="vm.sportsOptions.searchText" 
                                     md-item-text="sport.Text" md-items="sport in vm.sportsOptions.getSportsFiltered()" md-min-length="0" md-floating-label="Sport">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{sport.Text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                        <div ng-messages="createActivity.Sport.$error">
                            <div ng-message="required">Sport is required.</div>
                        </div>
                    </md-autocomplete>
                </div>
                <div layout="row">
                    <label>Invite people</label>
                    <span ng-repeat="person in vm.activity.InvitedPeople">{{person.Text}}</span>
                </div>
                <div layout="row">
                    <md-autocomplete flex md-input-name="Sport" md-selected-item="vm.activity.SportId" md-search-text="vm.sportsOptions.searchText"
                                     md-item-text="sport.Text" md-items="sport in vm.sportsOptions.getSportsFiltered()" md-min-length="0" md-floating-label="Sport">
                        <md-item-template>
                            <span md-highlight-text="searchText">{{sport.Text}}</span>
                        </md-item-template>
                        <md-not-found>
                            No matches found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Date</label>
                        <md-datepicker required name="Date" ng-model="vm.activity.Date"></md-datepicker>
                        <div ng-messages="createActivity.Date.$error">
                            <div ng-message="required">Date is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Expire Date</label>
                        <md-datepicker required name="ExpireDate" ng-model="vm.activity.ExpireDate"></md-datepicker>
                        <div ng-messages="createActivity.ExpireDate.$error">
                            <div ng-message="required">Expire Date is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Min Players</label>
                        <input name="MinPlayers" ng-model="vm.activity.MinPlayers" type="number" required min="2" step="1">
                        <div ng-messages="createActivity.MinPlayers.$error">
                            <div ng-message="required">Min Players is required.</div>
                            <div ng-message="min">There can't be less than 2 players.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Max Players</label>
                        <input name="MaxPlayers" ng-model="vm.activity.MaxPlayers" type="number" required min="2" step="1">
                        <div ng-messages="createActivity.MaxPlayers.$error">
                            <div ng-message="required">Max Players is required.</div>
                            <div ng-message="min">There can't be less than 2 players.</div>
                        </div>
                    </md-input-container>

                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Min Players Rating</label>
                        <input name="MinPlayersRating" ng-model="vm.activity.MinPlayersRating" type="number" min="0" max="5" step="0.1">
                        <div ng-messages="createActivity.MinPlayersRating.$error">
                            <div ng-message="min">Rating can't be below 0.</div>
                            <div ng-message="max">Rating can't be above 5.</div>
                        </div>
                    </md-input-container>

                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Description</label>
                        <textarea name="Description" ng-model="vm.activity.Description" md-maxlength="500" rows="5"></textarea>
                        <div ng-messages="createActivity.Description.$error">
                            <div ng-message="md-maxlength">The description must be less than 500 characters long.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-click="vm.save()">
                Save
            </md-button>
            <md-button class="md-raised md-default" ng-click="vm.cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>