@model IEnumerable<Teamify.Models.Sport.AddSportRequestModel>

@{
    ViewBag.Title = "New sports to be accepted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-1">
    @foreach (var item in Model)
    {
        <div class="col-4 mb-1">
            <div class="card">
                <h3 class="card-header">@item.SportName</h3>
                <div class="card-block">
                    <h4 class="card-title">@item.SportDescription</h4>
                    <p class="card-text">@item.SportRules</p>
                    <a href="@Url.Action("CreateSport", "Sport", new {id = item.AddSportRequestId})" class="btn btn-primary">Create game</a>
                </div>
            </div>
        </div>
    }
</div>